/* Global */

*{box-sizing: border-box;}
body{font-family: 'Droid Sans', sans-serif; height: 3000px;}


/* Framework*/

.container {margin: auto; padding: 0 15px}
.text-center{text-align: center;}
.float-left{float: left;}
.float-right{float: right;}
.clearfix{clear: both;}
.h1{font-size: 50px; margin: 0;}
.res-img{width:100%}
.res-para{font-size: 22px; line-height: 1.8;}
.unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 157 239 / 50%);
}

@media(max-width:767px){
    .hiddin-xs{display: none;}
    .res-para{text-align: center;}
    .container{padding: 0 15px; width: 100%;}
}
@media(min-width:768px){
    .container{width: 720px;}
    .hiddin-sm{display: none;}
}
@media(min-width:992px){
    .container{width: 960px;}
    .hiddin-md{display: none;}
}
@media(min-width:1200px){
    .container{width: 1140px;}
    .hiddin-lg{display: none;}
}

/*Start of Navbar*/
nav {
    background-color: #fff;
    min-height: 70px;
  }
  .center {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .center h2 {
    margin: 0;
    text-shadow: 4px 4px 8px rgb(95, 94, 94);
  }
  .center h2 span {
    color: #72a6ea;
  }
  .links {
    transition: ease-in-out all 0.4s;
  }
  .links a {
    font-size: 20px;
    margin-right: 8px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #000;
    text-decoration: none;
  }
  .links a:hover {
    color: #72a6ea;
  }
  .icons svg {
    color: #72a6ea;
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .icons svg:hover {
    opacity: 0.6;
  }
  .bar {
    display: none;
    margin-right: 12px;
    font-size: 24px;
    color: #72a6ea;
  }
  .bar svg {
    transition: ease-in-out all 0.4s;
    cursor: pointer;
  }
  .bar svg:hover {
    transform: rotate(90deg);
  }
  
  @media screen and (max-width: 800px) {
    .icons {
      display: none;
    }
    .center {
      width: 100%;
    }
    .center h2 {
      flex: 1;
      padding-left: 10px;
    }
    .bar {
      display: inline-block;
      flex: 1;
    }
    .bar svg {
      float: right;
    }
    .links {
      display: flex;
      min-width: 800px;
      flex-direction: column;
      margin-top: 5px;
      padding-bottom: 10px;
      height: 0;
      overflow: hidden;
      transition: ease-in-out all 0.4s;
    }
    .links a {
      display: block;
      margin-top: 6px;
      transition: ease-in-out all 0.3s;
      padding: 8px 0 8px 10px;
    }
    .links a:hover {
      background-color: #a5d5f8;
      padding-left: 20px;
      color: #444;
    }
    .show {
      height: 225px;
    }
  }
  
/* Start of Header */
header{
    background: url("../images/header.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}
header h1{
    margin: 100px 0 30px 0;
    color: #FFF;
    font-size: 60px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex > div{
    color: #FFF;
    font-size: 24px;
    border: 4px solid #FFF;
    padding: 20px 0;
}
.flex > div:first-child{
    flex: 0 0 48%;
}
.flex > div:nth-child(2){
    flex: 0 0 48%;
}
.flex > div:nth-child(3){
    flex: 1 0 100%;
    margin-top: 20px;
}
@media(max-width:767px){
    .flex{justify-content: center;}
    .flex > div:first-child{flex:0 0 60%}
    .flex > div:nth-child(2){flex:0 0 60%; margin-top:20px}
}

/* Start of Features */
.features{padding: 50px 0;}
.features .flexx{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.features .h1{
    color: #555555;
    font-size: 50px;
    margin: 0 0 20px;
}
.features .flexx h2{color: #666;margin: .25em 0;}
.features .flexx p{color: #777; font-size: 17px;line-height: 1.4; margin: 0;}

@media(max-width:767px){
    .features .flexx > div {
        flex: 0 0 100%;
        margin-bottom: 1em;
        text-align: center;
    }
    .features .flexx p{font-size: 16px;}
}
@media(min-width:768px) and (max-width:991px){
    .features .flexx > div {
        flex: 0 0 49%;
    }
    .features .flexx >div:last-child{margin-top: 1em;}
}
@media(min-width:992px){
    .features .flexx > div {
        flex: 0 0 32.5%;
    }
}
/* Start Of About Us */
.about {
    background-color: #ECECEC;
    padding: 50px 0 0;
}
.about .h1{
    color: #555555;
    font-size: 50px;
    margin: 0 0 20px;
}
.gallary{
    margin-top: 30px;
    display: flex;
    flex-flow: wrap row;
}
.about .res-para{color: #848484;}
@media(max-width:767px){
    .gallary > div {
        flex: 0 0 100%
    }
.about .res-para{font-size: 18px;}
}
@media(min-width:768px){
    .gallary > div {
        flex: 0 0 50%
    }
.about .res-para{font-size: 19px;}
}
@media(min-width:992px){
    .gallary > div {
        flex: 0 0 33.33333333%
    }
.about .res-para{font-size: 20px;}
}
@media(min-width:1200px){
    .gallary > div {
        flex: 0 0 25%
    }
}
/* Start of Pricing */
.pricing{background-color: #444444; color: #FFF; padding: 50px 0;}
.pricing .h1{padding: 0px 0 20px; margin: 0; font-size: 50px;}
.flexxx{display: flex;flex-flow: row wrap;justify-content: space-between;}
.pricing ul{
    border: 3px solid #fff;
    padding: 10px;
}
.pricing ul li{
    padding: 10px 0; 
    font-size: 18px;
    position: relative;
}
.pricing ul li:first-child{font-size: 25px;font-weight: bold;}
.pricing ul li:nth-child(2){font-size: 22px; color: #bfbfbf;}
@media (min-width:768px){
    .flexxx ul {flex: 0 0 100%}
    .flexxx ul {margin-bottom: 15px;}
}
@media (max-width:767px){
    .flexxx ul {flex: 0 0 100%}
    .flexxx ul {margin-bottom: 15px;}
}
@media (min-width:992px){
    .flexxx ul {flex: 0 0 32%}
    .flexxx ul:first-child{position: relative; left: 33.8%}
    .flexxx ul:nth-child(2){position: relative; right:33.8%}
}
/*Start of Testimonial*/
.test{padding:50px 0}
.test .h1{color: #555}
.test .card-container{display: flex; flex-flow: wrap row;justify-content: center;}
.test .card-container .card{
    background-color: #EEEEEE;
    border-radius: 15px;
    border: 1px solid #DDD
}
.test .card-container .card:first-child{flex: 0 0 80%; margin: 20px 0;}

.test .card-container .card >div:first-child{
    width:120px;
    margin: 20px;
    float: left;
}
.test .card-container .card > div >img {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #CCC;
}
.text{margin-top:25px}
.text h3{margin: 0 0 5px;}
.test .card-container .card .text p {font-size: 16px; margin: 0;}
.test .card-container .card:nth-child(2){flex: 0 0 49.5%; margin-right: 1%;}
.test .card-container .card:nth-child(3){flex: 0 0 49.5%}

@media (min-width:768px) and (max-width:991px){
    .test .card-container .card:first-child{flex: 0 0 100%; margin: 20px 0;}
    .test .card-container .card:nth-child(2) > div:first-child,
    .test .card-container .card:nth-child(3) > div:first-child
    {float: none; margin: 10px auto 0;}
    .test .card-container .card:nth-child(2) h3,
    .test .card-container .card:nth-child(3) h3
    {text-align: center; margin: 5px 0;}
    .test .card-container .card:nth-child(2) .text p,
    .test .card-container .card:nth-child(3) .text p
    {margin: 0 0 20px 20px;}
    .test .card-container .card:nth-child(2) .text,
    .test .card-container .card:nth-child(3) .text
    {margin:5px} 
}
@media(max-width:767px){
    .test .card-container .card{flex: 0 0 100% !important; margin: 20px 0;} 
    .test .card-container .card:first-child > div,
    .test .card-container .card:nth-child(2) > div,
    .test .card-container .card:nth-child(3) > div
    {float: none; margin: 10px auto 0;}
    .test .card-container .card{padding: 10px 0}
    .test .card-container .card .text h3{margin:10px auto; text-align: center;}
    .test .card-container .card .text p{margin:10px; text-align: left;}
}

/* Start of Product Information*/
.product{background-color: #ECECEC; padding: 50px 0;}
.product .h1{color: #848484; margin: 0 0 30px 0;}
.product p{
    display: none; 
    background-color: #FFF; 
    font-size: 20px; 
    padding: 30px 15px 15px;
    margin: 0;
}
.product p.active{display: block;}
.product span {
    font-size: 22px;
    background-color: #DDDDDD;
    padding: 15px 25px;
    display: inline-block;
    cursor: pointer;
}
.product span.active{color: #22BCDF; background-color: #FFF;}

@media(max-width:767px){
    .product span{display: block;}
}
/*Start Of Footer */
footer{background-color: #333333; padding: 30px 0;}
footer .container{display: flex; flex-flow: row wrap; justify-content: space-evenly;}
footer span{
    display: inline-block;
    color: #FFF;
}
@media (max-width:767px){
    footer span{flex: 0 0 100%; margin: 10px auto; text-align: center;}
    footer span:first-child{margin: 0px auto}
}